@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a.skip-map-link {
  position: absolute;
  left: -1000px;
  z-index: 5000;
  background-color: white;
  border: 3px solid #b55913;
  font-size: 1rem;
  color: black;
  padding: 10px; 
  min-width: 45px;
}

a.skip-map-link:focus {
  left: 0;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #2270a5;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 200px;
  width: 100%;
  background-color: #ccc;
}

#map>div.leaflet-control-container>div.leaflet-bottom.leaflet-right>div {
  background-color: white;
  opacity: 1;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 50px;
  background-color: #2270a5;
  align-items: center;
  padding: 1em;
  display: inline-block;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
  min-width: 200px;
  max-width: 50%;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 30px 15px 60px;
  text-align: center;
  display: inline-block;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  height: auto;
  padding: 0 30px 25px;
  text-align: left;
  width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  width: 100%;
  height: auto;
}

#restaurants-list li h1 {
  color: #b55913;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}

#restaurants-list li a {
  background-color: #b55913;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  width: 100%;
}

.inside #map-container {
  background: #f3f3f3 none repeat scroll 0 0;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  display: block;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #b55913;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 3em 1em 1em;
  width: 100%;
}

#reviews-container {
  padding: 30px 10px 80px;
}

#reviews-container h2 {
  color: #b55913;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
  width: 100%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* ====================== Media Queries ====================== */

@media screen and (min-width:559px) {
  #restaurants-list li p, #restaurants-list li h1 {
    font-size: 2vw;
  }
  #restaurants-list li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 1em;
  }
  #map {
    height: 300px;
  }
  #reviews-container {
    padding-left: 25px;
  }
  #reviews-list li {
    width: 100%;
  }
}

@media screen and (min-width:846px) {
  #restaurants-list li p, #restaurants-list li h1 {
    font-size: 1.3vw;
  }
  #restaurants-list li {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 1em 2em;
  }
  #restaurant-container, #reviews-container, .inside #footer, #breadcrumb {
    width: 50%;
  }
  #restaurant-container {
    margin-top: 100px;
  }
  .inside #map-container {
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
    padding: 1em 1em 0 0;
  }
  .inside #map {
    height: 100%;
    width: 100%;
  }
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  #reviews-list li {
    width: 85%;
  }
  #reviews-container {
    padding: 40px;
  }
}

@media screen and (min-width: 1230px) {
  body {
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
  }
  #restaurants-list li p, #restaurants-list li h1 {
    font-size: .9vw;
  }
  #restaurants-list li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 1em 2em;
  }
  #breadcrumb {
    padding: 10px 40px 16px;
    max-width: 100%;
  }
  body.inside>header {
    max-width: inherit;
    position: fixed;
    top: 0;
  }
  .inside #map-container {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
  }
  #map {
    max-height: 80%;
  }
  .inside #footer, #reviews-list {
    width: 100%;
  }
  #restaurant-container {
    margin-top: 80px;
  }
  #reviews-container {
    display: block;
    width: 100%;
  }
  /* prevent leaflet for showing over header */
  .leaflet-container {
    z-index: 160;
  }
}